.menu_select {
  position: absolute;
  inset: 0px;

  background: white;

  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 100px;

  & .close {
    position: fixed;
    top: 70px;
    right: 70px;

    cursor: pointer;
  }

  & .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  & .sub {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 20px;

    & img {
      width: 200px;
    }
  }

  & .item_style {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 132px;
    text-align: start;
    letter-spacing: 0.1em;

    color: #d0d0d0;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 15px;
    }

    &.active {
      color: #032a51;
      pointer-events: none;
    }
  }
}
