.youtube_card_container {
  text-decoration: none;

  display: flex;
  flex-direction: column;

  gap: 20px;

  & .miniature {
    width: 100%;
    height: 320px;

    object-fit: cover;
  }

  & .title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;

    color: #2c2c2c;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
